@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #f2f5ea;
  --foreground: #2c363f;
}
.bg-divider {
  background-color: var(--background) !important;
}
@theme inline {
  --breakpoint-xs: 30rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dark: var(--foreground);
  --color-bg: var(--background);
  --color-violet: #483fe9;
}
.section {
  @apply container px-5! sm:px-0 mx-auto;
}
.project-px {
  @apply px-5 sm:px-10 md:px-15 lg:px-32 xl:px-52;
}
ul li {
  list-style: disc;
  margin-left: 14px;
  padding: 6px 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 10px;
}
